@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {

--gradient: linear-gradient(to bottom, hsl(256 37.5% 22.8%), hsl(256, 31%, 54%));
  /*style= {
      {
      background: "var(--gradient)"
    }
  }

  */
  --text-gradient-start: 256 37.5% 22.8%;
  --text-gradient-end: 256 31% 54%;

  --background: 256 48.75% 6.08%;
  --foreground: 256 7.5% 98.8%;

  --muted: 256 37.5% 22.8%;
  --muted-foreground: 215.4 16.3% 46.9%;
  --popover: 256 50% 9.88%;
  --popover-foreground: 256 7.5% 98.8%;

  --card: 256 37.5% 22.8%;
  --card-foreground: 256 7.5% 98.8%;

  --border: 256 37.5% 22.8%;
  --input: 256 37.5% 22.8%;

  --primary: 256 7.5% 98.8%;
  --primary-foreground: 256 7.5% 7.6%;

  --secondary: 256 37.5% 22.8%;
  --secondary-foreground: 256 7.5% 98.8%;

  --accent: 256 37.5% 22.8%;
  --accent-foreground: 256 7.5% 98.8%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 256 7.5% 98.8%;

  --ring: 256 75% 76%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}